@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');

/* main color: #00FFB0 #00E69D*/

/* Reset */
*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

body{
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
}

body, input, button{
    font-family: 'Roboto', sans-serif;
}

/*  */

.container{
    width: 100%;
    height: 100vh;
    scroll-behavior: smooth;
}

.fc-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fc-around{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.fc-evenly{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.fr-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.fr-around{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* function navStyle(height, textColor, bgColor, scrolled){
    headerEl.style.height = height;
    headerEl.style.backgroundColor = bgColor;
    headerEl.style.transition = '400ms';
    logoHeader.style.color = textColor;
    linkItemNavEl.forEach(item => {
        item.style.color = textColor;
        item.style.border = 'none';
    })
    if(scrolled == true){
        headerEl.style.boxShadow = '0px 1px 10px 0px rgba(0, 0, 0, .4)';
        headerEl.style.zIndex = '2';
    } else{
        headerEl.style.boxShadow = 'none';
    }
} */

/* Nav */

.onscroll{
    height: 80px;
    background-color: white;
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, .4);
    z-index: 2;
}

.onscroll .logo-header a{
    color: #00E69D;
}

.onscroll .item-nav{
    border: none;
}

.onscroll .item-nav a{
    color: #00E69D;
}

.onscroll .item-nav a:hover{
    border-bottom: 1px solid #00E69D;
}

header{
    position: fixed;
    height: 100px;
    width: 100vw;
    transition: 400ms;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header a{
    color: white;
    text-decoration: none;
}
        
header p{
    font-weight: bold;
    font-size: 2em;
    color: white;
}

header .nav .lista-nav{
    list-style: none;
    display: flex;
}

header .nav .lista-nav li{
    margin: 0 5px;
}

.lista-nav li a{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2em;
    text-decoration: none;
    padding: 2.5px 5px;
    transition: border 100ms;
    color: white;
    transition: border 200ms;
}

.lista-nav li a:hover{
    border-bottom: 1px solid white;
}

/*  */


/* Capa */
.first-page{
    background-image: url(./imgs/background-responsive/1920.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    white-space: nowrap;
}

.first-page-content{
    width: 35%;
    margin-bottom: 2%;
    margin-right: 2%;
}

.first-page .text{
    text-align: center;
    color: white;
    font-size: 30px;
    text-shadow: 0.5px 1px 5px rgba(0, 0, 0, .5);
    border-bottom: 20px solid #fff;
    padding: 25px;
    width: 100%;
}

.first-page .quadrado{
    width: 25px;
    height: 25px;
    margin-top: -15px;
    background-color: white;
    transform: rotate(45deg);
}

.first-page .typewritter{
    position: relative;
}

.first-page .typewritter::after{
    content: '';
    position: absolute;
    width: 2px;
    width: 2px;
    height: 100%;
    border-right: 2.5px solid white;
    animation: blink 1000ms infinite ease;
}

@keyframes blink{
    0%{
        opacity: 0;
    }
    80%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.saber-mais{
    color: white;
    background-color: rgba(0, 0, 0, .2);
    border: 2px solid white;
    margin-top: 25px;
    padding: 5px;
    font-size: 1em;
    width: 30%;
    border-radius: 25px;
    text-transform: uppercase;
    cursor: pointer;
    transition: background 200ms;
}

.saber-mais a{
    color: white;
    text-decoration: none;
}

.saber-mais:hover{
    background-color: rgba(0, 0, 0, .4);
}

/*  */

.title-section{
    border-bottom: 1px solid #00E69D;
    font-size: 2.8em;
    text-transform: uppercase;
    font-weight: lighter;
}

/* About */
.about-page{
    height: 650px;
    background-color: rgb(245, 245, 245);
    padding: 25px;
}

.about{
    background-color: white;
    width: 60%;
    height: 100%;
    box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, .4);
}

.about-profile{
    width: 90%;
}

.about-profile h1{
    margin-bottom: 15px;
}

.about-profile img{
    max-width: 150px;
    border-radius: 50%;
}

.about-profile p{
    margin-top: 15px;
    font-size: 1.3em;
}

.habilidades{
    height: 25%;
    width: 90%;
    white-space: nowrap;
}

.habilidades h2{
    font-weight: lighter;
    border-bottom: 1px solid #00E69D;
}

.lista-habilidades{
    list-style: none;
    width: 100%;
    flex-wrap: wrap;
}

.habilidades .lista-habilidades li{
    margin: 0 25px;
    text-align: center;
}

.lista-habilidades li i{
    font-size: 3em;
    color: red;
}

/*  */

/* Projetos */
.projetos-page{
    height: 1280px;
    background: white;
    overflow: hidden;
}

.lista-projetos{
    margin: 25px 0;
    width: 100%;
    list-style: none;
    flex-wrap: wrap;
}

.card-projeto{
    box-shadow: 0px 5px 10px 0.5px rgba(0, 0, 0, .2);
    margin: 0 25px;
    height: 400px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: initial;
    padding: 10px;
}

.card-img{
    width: 100%;
    overflow: hidden;
}

.card-img img{
    height: 100%;
    outline: transparent;
    transition: transform 500ms;
}

.card-img img:hover{
    transform: scale(1.8);
}

.card-text{
    margin-top: 10px;
}

.card-text h2{
    font-weight: lighter;
    font-size: 1.8em;
    margin-bottom: 5px;
}

.card-text p{
    color: #00A671;
    font-weight: lighter;
}

.visualizar-button{
    text-decoration: none;
    color: white;
    background-color: #00E69D;
    padding: 5px 15px;
    border-radius: 25px;
    transition: all 200ms;
    border: 1px solid transparent;
    text-align: center;
    margin-top: 15px;
}

.visualizar-button:hover{
    background-color: white;
    color: #00E69D;
    border: 1px solid #00E69D;
}

.projetos-page .devradar{
    text-align: center;
    box-shadow: 0px 5px 10px 0.5px rgba(0, 0, 0, .2);
    padding: 25px 50px;
}

.projetos-page .devradar img{
    max-height: 500px;
}


/*  */

/* Contato */
.contato-page{
    background-image: url(./imgs/background-responsive/wp2465916-javascript-wallpapers.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 100%;
}

.contato-content{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.contato-text{
    background-color: white;
    box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, .2);
    width: 25%;
    height: 80%;
}

.lista-contato li i{
    font-size: 2.4em;
}

.contato-page ul{
    display: flex;
    flex-direction: column;
}

.contato-page ul li{
    list-style: none;
    margin: 10px;
}

.contatos-link{
    display: flex;
    list-style: none;
    font-size: 3.2em;
}

.contatos-link a{
    margin: 0 20px;
}

/*  */

/* Footer */
footer{
    background-color: rgba(0, 0, 0, .4);
    color: white;
    font-size: 1em;
    text-align: center;
    height: 50px;
    width: 100%;
    font-weight: lighter;
}

@media screen and (max-width: 1614px){
    .projetos-page{
        justify-content: space-around;
        padding: 25px;
        height: 1500px;
    }

    .lista-projetos{
        width: 75%;
    }

    .devradar{
        width: 750px;
    }

    .devradar img{
        max-width: 100%;
    }
}

@media screen and (max-width: 1280px){
    .first-page .text{
        width: 100%;
        font-size: 24px;
    }

    .about{
        width: 90%;
    }

    .lista-habilidades{
        margin-top: 15px;
    }

    .contato-text{
        width: 50%;
    }
}

@media screen and (max-width: 1131px){
    .saber-mais{
        width: 100%;
    }

    .lista-projetos{
        width: 100%;
    }
}

@media screen and (max-width: 864px){
    .first-page .text{
        font-size: 18px;
    }

    .projetos-page{
        padding: 0;
    }

    .devradar{
        padding: 0;
        margin: 0;
        max-width: 100%;
    }
}

@media screen and (max-width: 814px){
    .projetos-page{
        height: 2250px;
    }

    .contato-text{
        width: 80%;
    }
}

@media screen and (max-width: 700px){
    .first-page-content{
        width: 50%;
    }

    .about-page{
        height: 800px;
    }
}

@media screen and (max-width: 575px){
    header{
        font-size: 12px;
    }

    .about-page{
        padding: 15px 0;
    }
}

@media screen and (max-height: 550px){
    .first-page-content{
        height: 25%;
        width: 45%;
    }

    .first-page-content .text{
        padding: 10px 0;
        margin-bottom: 8px;
        font-size: 14px;
        width: 80%;
        border-bottom: 10px solid white;
    }

    .first-page-content .quadrado{
        display: none;
    }

    .first-page-content .saber-mais{
        font-size: 10px;
        width: 80%;
    }
}