.typewritter{
    position: relative;
    width: 100%;

    &::after{
        content: '';
        position: absolute;
        width: 2px;
        height: 3.5rem;
        border-right: 2.5px solid white;
        animation: blink 1000ms linear infinite;
    }
}