.scrollable{
    background-color: $blue1;

    nav{
        padding: 1.5rem;

        a{
            color: white;
        }
        
        ul{
            a{
                &:hover{
                    border-bottom: 1px solid white;
                }
            }
        }
    } 
}