.form-wrapper{
    @include flex(column, space-between, center);
    width: 80%;
    max-width: 800px;
    min-width: 300px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, .4);
    border-radius: 25px;
    text-align: center;
    margin: 2rem;
    height: 450px;
    
    h2{
        margin-top: 40px;
        font-size: 1.2rem;
        color: $gray;
        text-align: center;
    }
    
    .inputs{
        @include flex(column, center, center);
        width: 100%;

        input, textarea{
            border: 1px solid rgba(0, 0, 0, .2);
            padding: 1rem 0.5rem;
            font-size: 1.1rem;
            width: 80%;
            margin: 0.5rem;
        }
        
        textarea{
            min-height: 125px;
            max-height: 125px;
            max-width: 90%;
        }
    }

    button{
        width: 100%;
        border-radius: 0;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
    }
}