#about{
    @include flex(column, center, center);
    padding: 1rem;
    margin: 2rem 0;
    
    .bar{
        margin-left: 25px;
    }
    
    .info{
        @include flex(row, center, center);
        padding: 25px;
        border-radius: 15px;
        width: 80%;

        img{
            border-radius: 10px;
            height: 350px;
            margin-right: 50px;
        }

        p{
            margin: 1rem 0;
            font-size: 1.1rem;
            color: $gray;
        }

        .skills{
            @include flex(row, space-between, center);
            flex-wrap: wrap;
            
            li{
                @include flex(column, center, center);
                font-size: 1.2rem;
                margin: 15px;
                color: $gray;
                
                i{
                    font-size: 2.5rem;

                }
            }

            li:not(:last-child){
                margin-right: 15px;
            }
        }
    }
}