#hero{
    height: 100vh;
    @include flex(row, center, center);
    background: linear-gradient(rgba(0, 0, 0, .5)), url(../../imgs/hero-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    .intro{
        text-align: center;
        padding: 2rem;
        
        h1{
            font-size: 3.2rem;
            color: $blue1;
        }
        
        p{
            font-size: 3.5rem;
            padding: 2.5rem;
            color: white;
        }
    }
}